body {
	
	background-color: gray;
}

h1 {
	
	color: white;
}

h2 {
	
	color: white;
}

div {
	
	width: 300px;
	height: 3px;
	background-color: black;
	border-radius: 3px;
}

p {
	
	color: white;
}

li {
	
	color:white;
}

img {
	
	border: 5px solid black;
	border-radius: 3px;
}

table {
	
	border: solid 2px black;
}

td {
	
	color: white;
}

.img0 {
	
	height: 50%;
	width: 50%;
}

.img1 {
	
	height: 30%;
	width: 20%;
}

.img2 {
	
	height: 30%;
	width: 30%;
}

.img3 {
	
	height: 30%;
	width: 22%;
}

.img4 {
	
	height: 30%;
	width: 20%;
}

.img5 {
	
	height: 30%;
	width: 30%;
}